package database

const (
	TestDriverName    = "%(PG_DRIVER_NAME)%"
	TestHost          = "%(PG_HOST)%"
	TestPort          = "%(PG_PORT)%"
	TestUser          = "%(PG_USER)%"
	TestPass          = "%(PG_PASS)%"
	TestDBName        = "%(PG_DBNAME)%"
	TestMigrationsDir = "%(PG_MIGRATION_DIR)%"
)
